{% extends 'main/header.html' %}


{% block content %}
{% load static %}

    <head>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCxn0UQot5aqIKu3TEoYfObTWNTlyemRwE&sensor=false&libraries=geometry&v=3"
          type="text/javascript"></script>
    </head>
<link rel="stylesheet" href="{% static 'css/history/main_table.css' %}">
<link rel="stylesheet" href="{% static 'css/modal_box.css' %}" >
<style>
    h1 {
        text-align: center;
    }
</style>
<div id="content">


    <div class="wrapper">
        <div class="wrapperInner">
            <div class="text">
                <h1>History</h1>
                <div id="history">
                    <div class="hpModule">
                      <div class="hpTableWrapper">
                          <div class="hpFilter">

                          </div>
                          <script></script>
                          <div class="hpTable rentals">
                              <table id="main_table" class="full">
                                  <thead>
                                    <tr>
                                        <td class="Details">Highlights</td>
                                        <td onclick="sort_by('start')" class="Start">Start</td>
                                        <td onclick="sort_by('end')" class="End">End</td>
                                        <!-- TODO fix duration-->
                                        <td class="Duration">Duration</td>
                                        <td onclick="sort_by('price')" class="price">Price</td>
                                    </tr>
                                  </thead>
                                  <tbody id="table_body">


                                  </tbody>

                                   <script type="text/javascript">
                                            var ascending = -1;
                                            var last_column = 'start'
                                            $(document).ready(function () {
                                                sort_by('start');
                                            });



                                            function sort_by(column) {

                                                $('#main_table tbody').empty();
                                                if(last_column !== column) {
                                                    ascending = 1;
                                                }
                                                else {
                                                    ascending= -ascending;
                                                }



                                                fetch(`http://127.0.0.1:8080/api/v1/transactions/?sort_by=${column}&reversed=${ascending}`)
                                                    .then((response) => {
                                                        return response.json()
                                                    })
                                                    .then((myJson) => {
                                                        var transaction_data = '';
                                                        $.each(myJson, function(key, value) {
                                                            transaction_data += '<tr onclick=sort_by("start")>';
                                                            transaction_data += '<td>' + '<i class="fas fa-info-circle"></i>' +  '</td>';
                                                            transaction_data +='<td>'+ value.start +'</td>';
                                                            transaction_data +='<td>'+ value.end +'</td>';
                                                            transaction_data +='<td>'+ 9000 +'</td>';
                                                            transaction_data +='<td>'+ value.price +'</td>';
                                                            transaction_data += '</tr>';
                                                        });
                                                        $('#main_table').append(transaction_data)
                                                    })
                                                last_column = column;
                                            }

                                    </script>

                              </table>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}