{% extends 'main/header.html' %}

{% block content %}
{% load static %}

<head>
  {% load static %}
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{% static '/admin/css/main/map.css' %}" />
    <link rel="stylesheet" href="{% static '/admin/css/main/statistics.css' %}" />
    <script type="text/javascript" src="{% static 'admin/js/main/jquery.countTo.js' %}"></script>

</head>


<body>

<div class="content">

            <div class="main-photo-wrapper">
                <div itemprop="image" class="main-photo_image parallax"> </div>
                <div class="container py-2">
                    <h1 class="main-photo--title text-primary"><span>Rent a vehicle and make our future greener place!</span></h1>
                    <div class="main-photo--info">

                    </div>
                </div>
            </div>


    <div class="container main">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="center promo">
                        <i class="fas fa-bicycle"></i><br>
                        <span class="timer promo-caption" data-from="0" data-to="500" data-speed='4000'  ></span>
                        <span class="promo-caption icons">+</span>
                        <p class="promo-caption">Bikes</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center promo">
                        <i class="fas fa-globe-europe"></i><br>
                        <span class="timer promo-caption icons" data-from="0" data-to="36" data-speed='4000' ></span>

                        <p class="promo-caption">Stations</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="center promo">
                       <i class="fab fa-pagelines"></i><br>
                        <span class="timer promo-caption icons" data-from="0" data-to="45000" data-speed='6000' ></span>
                        <span class="promo-caption icons">kg +</span>
                        <p class="promo-caption">CO2 saved</p>
                        <script type="text/javascript">
                             $(document).ready(function(){
                                 $('.timer').countTo();
                                $('.parallax').parallax();
                              });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map-wrapper">
        <div id="map"></div>
        <script defer src="{% static 'admin/js/main/maps_utilities.js' %}"></script>
    </div>

</div>
</body>


{% endblock %}
