{% extends 'main/header.html' %}

{%  block content %}
{% load static %}

    <head>

        <link rel="stylesheet" href="{% static '/admin/css/main/account.css' %}" />

    </head>
    <br>
    <div class="container">
        <div class="row">
            <div class="col l12">
                <div class="qr_wrapper" style="text-align: center">
                    <div class="qr_image_wrapper" >
                        <img id="qr-image" class="materialboxed" style="height: 10%" src="http://api.qrserver.com/v1/create-qr-code/?size=1000x1000&data={{ profile.qr_identifier  }}"/> <br>

                    </div>

                    Scan qr code and take ur bike!

                </div>
            </div>
            <div class="col l3 s12 m5 nopadding">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <div style="text-align: right">
                            <span style="font-size: 16px; color: white">
                                <a href="profile_settings/">
                                    <i class="fas fa-wrench"></i>
                                </a>
                            </span>
                        </div>

                        <span class="card-title">{{ user.username|title }}</span>

                        <div>
                            <div class="email">{{ user.profile.email }}</div>
                            <div class="phone_number">{{ user.profile.phone_number }}</div>
                            <br>
                            <div class="clearfix links">
                                <a href="contact_settings/">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>

                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ user.username|title }}</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col l3 s12 m7 nopadding">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title" style="text-align: left; font-size: 20px">Cash balance</span>

                        <table style="color: white">
                            <tr>
                                <td>Balance:</td>
                                <td style="float: right">0$</td>
                            </tr>
                                <td>Bonus</td>
                                <td style="float: right">0</td>

                        </table>
                    </div>
                    <div class="card-action">
                        <a href="#">Fuel your account!</a> </br>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>

            <div class="col l6 s12 m8 nopadding">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">5 last finished transactions</span>
                        <table id="transactions_table" style="color: white">
                            <colgroup>
                                <col group="highlights"/>
                                <col group="hire_date"/>
                                <col group="back_date"/>
                                <col group="duration" />
                                <col group="price"/>
                            </colgroup>
                            <tr style="color: white">
                                <th>Highlights</th>
                                <th>Hire</th>
                                <th>Return</th>
                                <th>Duration</th>
                                <th>Price</th>
                            </tr>
                        </table>
                        <br>
                        <a href="/history">
                            <i class="fas fa-align-justify" style="padding-right: 10px; font-size: 15px" ></i>
                            <span style="font-size: 15px"> check full history of rentals </span>

                        </a>


                    </div>

                    <script>
                         $(document).ready(function(){
                            $('.materialboxed').materialbox();
                          });

                        var transactions ={{ transactions|safe}};
                                        var table = document.getElementById('transactions_table');
                                       transactions.forEach(function(object) {
                                            jQuery.getScript('/static/utility_functions.js', function() {
                                                var tr = getTrTag(object);
                                                tr.onclick = function(evt){
                                                    popupWindow = window.open(
                                                        '/details/'+object.id,'popUpWindow','height=500 ,width=500,left=10,top=10,' +
                                                        'scrollbars=no,toolbar=no,menubar=no,location=no,' +
                                                        'directories=no,status=yes' +
                                                        'details={{object}}')
                                                };
                                                table.appendChild(tr)
                                            });
                                        });

                    </script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}