

<ul id="dropdown1" class="dropdown-content">
  <li><a href="/account">{{user.username|title}}</a></li>
  <li><a href="/settings">Settings</a></li>
  <li ><a href="/logout">Logout</a></li>
</ul>
    <nav>
        <div class="nav_wrapper">
            <div id='nav_components'>
              <a href="/" class="brand-logo center">Logo</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material_icons">menu</i></a>
              <div id="links">
                 <ul class="right hide-on-med-and-down">
                       <li><a href="/">Home</a></li>
                       {%  if user.is_authenticated %}
                            <li id="wallet"><a href="/wallet">Wallet</a></li>
                            <li><a href="/history">History</a></li>
                            <li><a class="dropdown-trigger active" href="#!" data-target="dropdown1">{{user.username|title}}<i class="material-icons right">arrow_drop_down</i></a></li>
                       {% else %}
                            <li><a href="/register">Register</a></li>
                            <li><a href="/login">Login</a></li>
                       {% endif %}
                  </ul>
                </div>
        </div>

        </div>

    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a> </li>
        <li><a href="/wallet">Wallet</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/account">{{ user.username|title  }}</a></li>
    </ul>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $(".dropdown-trigger").dropdown();
    });


</script>






