<head>
    {%  load static %}

	<link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/130/130066.png">

    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

</head>



<body>

{% include 'main/include/navigation_bar.html' %}
{% include 'main/include/messages.html' %}


    {% block content %}
    {% endblock %}

</body>

<script src="{% static 'tinymce/js/prism.js' %}"></script>