nav {
    height: 7%;
    background-color: #084d0d;
    border-bottom: 1px solid black;

}

nav li a {
    font-size: 20px;
    color: white;
    text-align: center;
}
.wallet {
    font-size: 30px;
}

