table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid grey;
    border-top: none
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 30%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}

th, td {
  padding: 15px;
  text-align: center;
}

th, td {
    height: 20%;
}







tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


